[submodule "hive-guard-ESP32-streamer"]
	path = hive-guard-ESP32-streamer
	url = https://github.com/FrancoBre/hive-guard-streamer
[submodule "hive-guard-frontend"]
	path = hive-guard-frontend
	url = https://github.com/EvolutionRX/hive-guard-frontend
[submodule "hive-guard-master-server"]
	path = hive-guard-master-server
	url = https://github.com/pablotrrs/hive-guard-master-server
